<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ og['title'] }}</title>
    <meta property="og:title" content="{{ og['title'] }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ og['url'] }}">
    <meta property="og:description" content="{{ og['description'] }}">
    <meta property="og:image" content="{{ og['image'] }}">
  </head>
  <body>
  </body>
</html>